# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Setting up working directory
      working-directory: demo
      run: pwd
    - name: Print Working Directory
      run: pwd
    - name: List directory contents
      run: ls -R
    - name: cleaning up and compiling
      run: mvn clean


    - name: Build with Maven
      run: mvn -B package --file demo/pom.xml

        # Sample Test Step
    - name: Sample Test Step
      run: echo 'test success'
      
      # New job for sample test
  sample_test:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Sample Test Step
      run: echo 'test success'

# New job for actual deployment
  deploy:
    needs: sample_test
    runs-on: ubuntu-latest
    steps:
    - name: Copy Artifact to EC2
      run: |
        scp -o StrictHostKeyChecking=no -i ${{ secrets.EC2_SSH_PRIVATE_KEY }} demo/target/your-artifact-name.jar ubuntu@54.224.42.195:/home/ubuntu/mvnprj/
    - name: Restart Application on EC2
      run: |
        ssh -o StrictHostKeyChecking=no -i ${{ secrets.EC2_SSH_PRIVATE_KEY }} ubuntu@54.224.42.195 'bash -s' < ./path-to-your-restart-script-on-ec2.sh


    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    #  - name: Update dependency graph
     # uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
